//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------
$images: "../images/layout";

$font: 					Arial, Helvetica, sans-serif;
$font-bold: 			Arial, Helvetica, sans-serif;

$font-size-sm: 12px;
$font-size-m:  16px;
$font-size-l:  18px;
$font-size-xl: 22px;

$color-base-black: 			#000;
$color-base-white: 			#fff;
$color-base-gray: 			#ccc;
$color-base-red: 			#8B0000;
$color-base-green: 			#7CFC00;
$color-base-gray-ton-1: 	#ededed;
$color-base-gray-ton-2: 	#9c9898;
$color-base-gray-ton-3: 	#ddd;


$p-1: 10px;
$p-2: 15px;
$p-3: 30px;

$m-1: 10px;
$m-2: 15px;
$m-3: 30px;

